body {
    font-family: Arial, sans-serif;
    margin: auto;
    text-align: center;
    color: whitesmoke;
  }
  
  header {
    background-color: dodgerblue;
    padding: 20px;
  }
  
  .container {
    display: flex;
    justify-content: start;
    gap: 20px;
    padding: 20px;
  }
  
  .left-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    background: lightgray;
    padding: 10px 1%;
  }

  .box-left {
    background-color: lightcoral;
    padding: 30px 200px;
    text-align: center;
    border-radius: 5px;
  }
  
  .right-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .box-right {
    background-color: lightcoral;
    padding: 30px 30px;
    text-align: center;
    border-radius: 5px;
  }
  
  .top-bar, .main-content {
    display: flex;
    gap: 20px;
  }

  footer{
    background-color: red;
    padding: 20px;
  }